<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <!--Bootsrap Styling-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Div tag displaying image, button and information for Maths lesson -->
    <div id="app">
        <div class="navbar fixed-top" style="background-color: rgb(255, 255, 255);">
            <h1>After School Club</h1>
            <button v-on:click="showCheckout" class="btn btn-success">
                {{ this.cart.length }}
                <span> Checkout </span>
            </button>
        </div>
        <main>
            <div v-if="showProduct">
                <div id="productStyle" v-for="product in products">
                    <div>
                        <img v-bind:src="product.image">
                    </div>
                    <div>
                        <h2 v-text="product.title"></h2>
                        <p v-text="product.location"></p>
                        <p>Price: £{{product.price}} </p>
                        <p>Available stock: {{product.availableInventory}}</p>

                        <button class="btn btn-primary" v-on:click="addToCart(product)" v-if="canAddToCart(product)">
                            Add to cart</button>
                        <button disabled="disabled" v-else>Add to cart</button>
                        <span v-if="product.availableInventory === cartItemCount(product.id)">
                            All out!</span>
                        <span v-else-if="product.availableInventory - cartItemCount(product.id) < 5">
                            Only {{product.availableInventory - cartItemCount(product.id)}} left!
                        </span>
                        <span v-else>Buy now!</span>
                        <p>
                            <span v-for='n in product.rating'>★</span>
                            <span v-for='n in 5-product.rating'>☆</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Checkout Page-->
            <div v-else>
                <form>
                <div id="Products" class="form-group">
                    <br>
                    <br>
                    <br>
                    <h2>Checkout</h2>

                    <label>First Name:</label>
                    <input type="text" class="form-control" placeholder="Enter name" v-model="order.firstName">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" placeholder="Enter lastname" v-model="order.lastName">
                    <label>Phone</label>
                    <input type="number" class="form-control" placeholder="Enter phone" v-model="order.phone">  
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter email" v-model="order.email">                                       
                    <label>Address Line</label>
                    <input type="text" class="form-control" placeholder="Enter address" v-model="order.address">
                    <label>Postcode</label>
                    <input type="text" class="form-control" placeholder="Enter postcode" v-model="order.postcode">
<br>
                    <label>City:</label>
                    <div class="form-check" >
                        <input class="form-check-input" type="radio" name="city" value="London" v-model="order.city">
                        <label class="form-check-label" for="London">London</label><br>

                        <input class="form-check-input" type="radio" name="city" value="Birmingham" v-model="order.city">
                        <label class="form-check-label" for="Birmingham">Birmingham</label><br>

                        <input class="form-check-input" type="radio" name="city" value="Manchester" v-model="order.city">
                        <label class="form-check-label" for="Manchester">Manchester</label><br>

                        <input class="form-check-input" type="radio" name="city" value="Bristol" v-model="order.city">
                        <label class="form-check-label" for="Bristol">Bristol</label><br>

                        <input class="form-check-input" type="radio" name="city" value="Liverpool" v-model="order.city">
                        <label class="form-check-label" for="Liverpool">Liverpool</label><br>
<br>
                        <input class="form-check-input" type="checkbox"  value="option1" 
                        v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                        <label class="form-check-label" for="inlineCheckbox1">Ship as Gift?</label>
<br>
<br>
                        <input class="form-check-input" type="radio" name="method" value="Home" v-model="order.method">
                        <label class="form-check-label" for="home">Home</label><br>   
                        <input class="form-check-input" type="radio" name="method" value="Business" v-model="order.method">
                        <label class="form-check-label" for="Business">Business</label><br>                     
<br>                        
                        <button v-on:click="submitForm">Place Order</button>
                    </div>

                    <h2>Order Information</h2>
                    <p>First Name: {{order.firstName}}</p>
                    <p>Last Name: {{order.lastName}}</p>
                    <p>Phone: {{order.phone}}</p>
                    <p>Email: {{order.email}}</p>
                    <p>Address Line: {{order.address}}</p>
                    <p>Post code: {{order.postcode}}</p>
                    <p>City : {{order.city}}</p>
                    <p>gift: {{order.gift}}</p>
                    <p>Method: {{order.method}}</p>
                </div>
            </form>
            </div>
        </main>
    </div>

</body>
<!-- Javascript file location code-->
<script type="text/javascript" src="./products.js"></script>
<script type="text/javascript" src="./lessons.js"></script>

</html>